@charset "UTF-8";

@import "../commons/css/mixin.scss";

.page-top {

.mv {
	position: relative;
	
	@media only screen and (min-width:1921px){
		width: 1920px;
		margin: 0 auto;
	}
	
	@media only screen and (max-width:768px){
		height: auto;
		// padding-bottom: 21%;
		padding-bottom: 80px;
	}
	&__inner {
		@include box(1160px);
		// color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: end;
		position: absolute;
		bottom: 45px;
		left: 0;
		right: 0;
		z-index: 2;
		@media only screen and (max-width:1600px){
			margin: 0 auto;
		}
		@media only screen and (max-width:768px){
			max-width: 670px;
			width: calc(100% - 20px);
			bottom: 0;
			padding-left: 0;
			display: block;
		}
	}
	&__left {
		max-width:491px;
		width: 47%;
		display: inline-block;
		@media only screen and (max-width:768px){
			display: block;
			max-width: 100%;
			width: 100%;
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
	}
	&__h2 {
		// max-width: 552px;
		// width: 49%;
		max-width: 467px;
		margin-bottom: 30px;
		@media only screen and (max-width:768px){
			margin-bottom: 16px;
		}
	}
	&__txt {
		@include not;
		color: #fff;
		font-size: 23px;
		font-weight: 400;
		line-height: 130%;
		letter-spacing: 0.05em;
		margin-bottom: 36px;
		@media only screen and (max-width:980px){
			font-size: 19px;
		}
		@media only screen and (max-width:768px){
			margin-bottom: 32px;
			font-size: 18px;
			letter-spacing: 0.0em;
		}
	}
	&__list {
		max-width: 485px;
		display: flex;
		// gap: 16px;
		gap: 2.5%;
		// justify-content: space-between;
		flex-wrap: wrap;
		@media only screen and (max-width:768px){
			
		}
	}
	&__item {
		// max-width: ;
		background-color: #fff;
		padding: 2.5%;
		text-align: center;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		box-sizing: border-box;
		@media only screen and (max-width:768px){
			padding: 1.5% 2%;
		}
		&:nth-child(-n+3) { margin-bottom: 3%;}
		@media only screen and (max-width:768px){
			&:nth-child(-n+4) { margin-bottom: 3%;}
		}
		&--01 {
			width: 29%;
			background: url(../img/mv_bg01.png) no-repeat center/cover;
			@media only screen and (max-width:768px){
			width: 33%;
			}
		}
		&--02 {
			width: 32%;
			background: url(../img/mv_bg02.png) no-repeat center/cover;
			@media only screen and (max-width:768px){
			width: 33%;
			}
		}
		&--03 {
			width: 34%;
			background: url(../img/mv_bg03.png) no-repeat center/cover;
			@media only screen and (max-width:768px){
			width: 37%;
			}
		}
		&--04 {
			width: 43%;
			background: url(../img/mv_bg01.png) no-repeat center/cover;
			@media only screen and (max-width:768px){
			// width: 43%;
				
			}
		}
		&--05 {
			width: 39%;
			background: url(../img/mv_bg02.png) no-repeat center/cover;
			@media only screen and (max-width:768px){
			width: 40%;
				
			}
		}
	}
	&__point {
		max-width: 26px;
		width: 24%;
		line-height: 120%;
		color: $bkuro;
		font-size: 10px;
		@media only screen and (max-width:1050px){
			
		}
		@media only screen and (max-width:768px){
			
		}
	}
	&__num {
		font-size: 26px;
		font-weight: bold;
		margin-top: 10px;
		@media only screen and (max-width:1050px){
			font-size: 18px;
		}
		@media only screen and (max-width:768px){
			font-size: 20px;
			margin-top: 5px;
		}
	}
	&__body {
		// width: 61%;
		width: 75%;
		font-size: 16px;
		line-height: 140%;
		font-weight: 600;
		letter-spacing: -0.03em;
		@media only screen and (max-width:1050px){
			font-size: 13px;
		}
		@media only screen and (max-width:768px){
			font-size: 12px;
			line-height: 140%;
		}
	}
	&__bold {
		font-size: 18px;
		@media only screen and (max-width:1050px){
			font-size: 15px;
		}
		@media only screen and (max-width:768px){
			font-size: 12px;
		}
	}
	&__gold {
		color: $gold;
		@media only screen and (max-width:768px){
			
		}
	}
	&__right {
		max-width: 574px;
		width: 49%;
		padding: 24px;
		background-color: #fff;
		display: inline-block;
		box-sizing: border-box;
		@media only screen and (max-width:1050px){
			padding: 18px;
		}
		@media only screen and (max-width:768px){
			display: block;
			max-width: 100%;
			width: 100%;
			padding: 12px;
			box-shadow: 0px 0px 25px rgba($color: $kuro, $alpha: 0.25);
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
	&__bnr {
		display: flex;
		justify-content: space-between;
		gap: 8px;
		position: absolute;
		bottom: -25px;
		right: 0;
		z-index: 5;
		@media only screen and (max-width:768px){

		}
	}
	&__link {
		display: inline-block;
		width: 146px;
		@media only screen and (max-width:768px){
			
		}
	}
	&__main {
		@media only screen and (min-width:1921px){
		}
		@media only screen and (max-width:768px){
			position: relative;
			width: 100%;
			height: auto;
			margin-left: 0;
		}
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			background: url(../img/mv_moyo.png) no-repeat center top/cover;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			@media only screen and (max-width:768px){
				background: url(../img/mv_moyo-sp.png) no-repeat center top/cover;
			}
		}
	}
	&__info {
		@media only screen and (max-width:768px){
			font-size: 10px;
		}
	}
}

.mv-table {
	width: 100%;
	margin-bottom: 16px;
	&__tr {
		
		&:not(:last-child) {
			border-bottom: solid 1px $lgray;
		}
	}
	&__th {
		font-weight: 600;
		font-size: 16px;
		line-height: 130%;
		text-align: center;
		padding: 12px 0;
		&:not(:last-child) {
			border-right: solid 1px $lgray;
		}
		&--time {
			// width: 94px;
			width: 33%;
		}
		@media only screen and (max-width:1050px){
			font-size: 14px;
		}
		@media only screen and (max-width:768px){
			font-size: 12px;
		}
	}
	&__td {
		font-size: 16px;
		width: 11%;
		text-align: center;
		color: $bkuro;
		&:not(:last-child) {
			border-right: solid 1px $lgray;
		}
		@media only screen and (max-width:1050px){
			font-size: 14px;
		}
		@media only screen and (max-width:768px){
			font-size: 12px;
		}
		&--ttl {
			color: $kuro;
			width: 33%;
			line-height: 120%;
			padding: 10px 0;
		}
	}
	&__info {
		display: block;
		font-size: 13px;
		@media only screen and (max-width:768px){
			font-size: 10px;
		}
	}
}

.bnr {
	padding: 40px 0;
	background-color: #fff;
	@media only screen and (max-width:980px){
	}
	@media only screen and (max-width:768px){
		padding: 20px 0;
	}
	&__inner {
		@include box(1120px);
		display: flex;
		justify-content: space-between;
		position: relative;
		@media only screen and (max-width:1200px){

		}
		@media only screen and (max-width:768px){
			display: block;
			max-width: 500px;
			width: calc(100% - 60px);
		}
	}
	&__link {
		max-width: 552px;
		width: 49%;
		display: inline-block;
		@media only screen and (max-width:768px){
			display: block;
			max-width: 100%;
			width: 100%;
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
}

.slide {
	padding: 24px 0 40px;
	@media only screen and (max-width:768px){

	}
	&__inner {
		@include box;

	position: relative;
		overflow: hidden;
		@media only screen and (max-width:768px){
			width: 100%;
		}
	}
	.swiper {
		max-width: 1056px;
		width: 95%;
		overflow: hidden;
		margin: 0 auto;
		padding-bottom: 30px;
		@media only screen and (max-width:768px){
			width: 100%;
		}
	}
	.swiper-wrapper {
		
	}
	.swiper-slide {
		width: 240px;
		height: 100px;
		background-color: $wglay;
		@media only screen and (max-width:768px){
		}
	}
}

.news {
	padding: 40px 0;
	background: url(../img/bg01.png) $wglay no-repeat top center/cover;
	@media only screen and (max-width:980px){
	}
	@media only screen and (max-width:768px){
		background: url(../img/bg02-sp.png) $wglay no-repeat top center/cover;
	}
	&__inner {
		@include box;
		position: relative;
		@media only screen and (max-width:768px){
		}
	}
	&__ttl {
		@include h2;
		@media only screen and (max-width:768px){
		}
		&::before {
			background: url(../img/icon_news.png) no-repeat center/100%;
			@media only screen and (max-width:768px){
			}
		}
	}
	&__btn {
		width: 128px;
		padding: 8px;
		color: #fff;
		text-align: center;
		background-color: $bkuro;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		gap: 12px;
		position: absolute;
		top: 0;
		right: 0;
		border-radius: 2px;
		@media only screen and (max-width:768px){
			width: 100%;
			padding: 12px;
			position: relative;
			margin: 0 auto;
		}
		&::after {
			content: "";
			width: 16px;
			height: 16px;
			background: url(../commons/img/icon_l-arw.png) no-repeat center/100%;
			@media only screen and (max-width:768px){
				position: absolute;
				right: 12px;
				top: 50%;
				margin-top: -8px;
			}
		}
	}
	&__list {
		padding: 25px ;
		width: 100%;
		font-weight: 500;
		background-color: #fff;
		border-radius: 2px;
		box-sizing: border-box;
		@media only screen and (max-width:768px){
			padding: 15px ;
			margin-bottom: 24px;
		}
	}
	&__item {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 0;
		font-weight: normal;
		box-sizing: border-box;
		position: relative;
		&:not(:last-child) {
			border-bottom: solid 1px $lgray;
		}
		@media only screen and (max-width:768px){
			padding: 10px 8px;
			display: block;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
		}
	}
	&__day {
		font-size: 14px;
		width: 11%;
		letter-spacing: 0;
		text-align: center;
		@media only screen and (max-width:768px){
			font-size: 12px;
			width: 100%;
			text-align: left;
		}
	}
	&__link {
		font-size: 16px;
		width: 88%;
		@media only screen and (max-width:768px){
			font-size: 13px;
			width: 100%;
		}
	}
}

.info {
	padding: 40px 0;
	background: #fff;
	@media only screen and (max-width:980px){
	}
	@media only screen and (max-width:768px){
		margin: 0 auto 40px;

	}
	&__inner {
		@include box;
		position: relative;
		@media only screen and (max-width:768px){
		}
	}
	&__ttl {
		@include h2;
		@media only screen and (max-width:768px){
		}
		&::before {
			background: url(../img/ttl_info.png) no-repeat center/100%;
			@media only screen and (max-width:768px){
			}
		}
	}
	&__box {
		display: flex;
		justify-content: space-between;
		@media only screen and (max-width:768px){
			display: block;
		}
	}
	&__left {
		max-width: 674px;
		width: 60%;
		@media only screen and (max-width:768px){
			width: 100%;
			margin-bottom: 16px;
		}
	}
	&__s-ttl {
		max-width: 280px;
		margin: 0 auto 24px;
		@media only screen and (max-width:768px){
			max-width: 219px;
		}
	}
	&__list {
		width: 100%;
		font-weight: 500;
		background-color: #fff;
		border-radius: 2px;
		box-sizing: border-box;
		margin-bottom: 24px;
		@media only screen and (max-width:768px){
			
		}
	}
	&__item {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: normal;
		box-sizing: border-box;
		position: relative;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
		@media only screen and (max-width:768px){
			
		}
	}
	&__day {
		font-size: 12px;
		font-weight: bold;
		width: 16%;
		letter-spacing: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2px;
		background-color: $wglay;
		padding: 7px 0;
		@media only screen and (max-width:768px){
			width: 29%;
			font-size: 12px;
		}
		&::before {
			content: "";
			width: 12px;
			height: 12px;
			display: inline-block;
			@media only screen and (max-width:768px){

			}
		}
		&--01::before {
			background: url(../img/icon_pin.png) no-repeat center/100%;
			@media only screen and (max-width:768px){
				
			}
		}
		&--02::before {
			background: url(../img/icon_train.png) no-repeat center/100%;
			@media only screen and (max-width:768px){
				
			}
		}
	}
	&__link {
		font-size: 14px;
		width: 82%;
		@media only screen and (max-width:768px){
			font-size: 13px;
			width: 68%;
		}
	}
	&__in-box {
		border: solid 1px $lgray;
		padding: 8px;
		box-sizing: border-box;
		margin-bottom: 8px;
		@media only screen and (max-width:768px){

		}
	}
	&__right {
		max-width: 406px;
		width: 36%;
		@media only screen and (max-width:768px){
			width: 100%;
		}
	}
	&__map {
		margin-bottom: 20px;
		@media only screen and (max-width:768px){
		}
	}
	&__m-btn {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media only screen and (max-width:980px)and (min-width:769px){
			display: block;
		}
		@media only screen and (max-width:768px){
			font-size: 10px;
		}
	}
	&__m-link {
		@include not;
		width: 49%;
		letter-spacing: 0;
		border: solid 1px $gray;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		padding: 12px 0;
		box-sizing: border-box;
		@media only screen and (max-width:980px)and (min-width:769px){
			width: 100%;
		}
		@media only screen and (max-width:768px){
			padding: 7px 0;
		}
		&::after {
			@include btn;

		}
		&--01 {
			@media only screen and (max-width:980px) and (min-width:769px){
				margin-bottom: 8px;
			}
			&::after {
				background: url(../img/icon_l-arw-g.png) no-repeat center/100%;
				@media only screen and (max-width:768px){
				}
			}
		}
		&--02 {
			background-color: $gray;
			color: #fff;
			&::after {
				background: url(../img/icon_l-arw-w.png) no-repeat center/100%;
				@media only screen and (max-width:768px){
				}
			}
		}
	}	
}

.come {
	padding: 40px 0 64px;
	background: url(../img/bg02.png) $wglay no-repeat center/cover;
	@media only screen and (max-width:980px){
	}
	@media only screen and (max-width:768px){
		padding: 40px 0 40px;
		background: url(../img/bg02-sp.png) $wglay no-repeat top center/cover;
	}
	&__inner {
		@include box;
		position: relative;
		@media only screen and (max-width:768px){
		}
	}
	&__ttl {
		@include h2;
		@media only screen and (max-width:768px){
		}
		&::before {
			background: url(../img/ttl_book.png) no-repeat center/100%;
			@media only screen and (max-width:768px){
			}
		}
	}
	&__s-box {
		margin: 0 auto 30px;
		text-align: center;
		@media only screen and (max-width:768px){

		}
	}
	&__s-ttl {
		font-size: 18px;
		font-weight: bold;
		margin: 0 auto 15px ;
		@media only screen and (max-width:768px){

		}
	}
	&__body {
		font-size: 14px;
		text-align: center;
		@media only screen and (max-width:768px){

		}
	}
	&__box {
		display: flex;
		justify-content: space-between;
		@media only screen and (max-width:768px){
			display: block;
		}
	}
	&__w-box {
		max-width: 540px;
		width: 48.5%;
		padding: 24px;
		background-color: #fff;
		box-sizing: border-box;
		@media only screen and (max-width:768px){
			width: 100%;
			max-width: 100%;
			&:first-child { margin-bottom: 24px;}
		}
	}
	&__em {
		font-size: 16px;
		text-align: center;
		font-weight: bold;
		margin-bottom: 20px;
		@media only screen and (max-width:768px){
			font-size: 14px;
			bottom: 15px;
		}
	}
	&__w-body {
		font-size: 14px;
		font-weight: 400;
		line-height: 160%;
		@include not;
		margin-bottom: 24px;
		@media only screen and (max-width:768px){
			margin-bottom: 15px;
		}
	}
	&__btn {
		font-size: 16px;
		line-height: 115%;
		text-align: center;
		font-weight: bold;
		display: block;
		padding: 20px 0px;
		box-sizing: border-box;
		border-radius: 1px;
		color: #fff;
		background-color: $gold;
		@media only screen and (max-width:768px){
			font-size: 14px;
			padding: 15px 0;
		}
	}
	&__list {
		width: 100%;
		font-weight: 500;
		display: flex;
		justify-content: start;
		flex-wrap: wrap;
		gap: 12px;
		@media only screen and (max-width:768px){
			
		}
	}
	&__item {
		@include not;
		font-size: 14px;
		line-height: 110%;
		font-weight: normal;
		letter-spacing: 0;
		display: flex;
		align-items: center;
		box-sizing: border-box;
		position: relative;
		background-color: $wglay;
		padding: 8px 16px 8px 12px;
		&:not(:last-child) {
			// margin-bottom: 15px;
		}
		@media only screen and (max-width:768px){
			font-size: 13px;
		}
		&::before {
			content: "";
			width: 16px;
			height: 16px;
			margin-right: 4px;
			display: inline-block;
		}
		&--01::before {
			background: url(../img/icon_new01.png) no-repeat center/100%;
		}
		&--02::before {
			background: url(../img/icon_new02.png) no-repeat center/100%;
		}
		&--03::before {
			background: url(../img/icon_new03.png) no-repeat center/100%;
		}
		&--04::before {
			background: url(../img/icon_new04.png) no-repeat center/100%;
		}
		&--05::before {
			background: url(../img/icon_new05.png) no-repeat center/100%;
		}
	}
	&__sm {
		font-size: 10px;
		display: contents;	
		@media only screen and (max-width:768px){
			&--br {
				display: block;
			}
		}
	}
	&__link {
		font-size: 14px;
		width: 82%;
		@media only screen and (max-width:768px){
			font-size: 13px;
			width: 68%;
		}
	}
	&__in-box {
		border: solid 1px $lgray;
		padding: 8px;
		box-sizing: border-box;
		margin-bottom: 8px;
		@media only screen and (max-width:768px){

		}
	}
	&__m-btn {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media only screen and (max-width:980px)and (min-width:769px){
			display: block;
		}
		@media only screen and (max-width:768px){
		}
	}
	&__m-link {
		width: 49%;
		letter-spacing: 0;
		border: solid 1px $gray;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		padding: 12px 0;
		box-sizing: border-box;
		@media only screen and (max-width:980px)and (min-width:769px){
			width: 100%;
		}
		@media only screen and (max-width:768px){
		}
		&::after {
			@include btn;

		}
		&--01 {
			@media only screen and (max-width:980px) and (min-width:769px){
				margin-bottom: 8px;
			}
			&::after {
				background: url(../img/icon_l-arw-g.png) no-repeat center/100%;
				@media only screen and (max-width:768px){
				}
			}
		}
		&--02 {
			background-color: $gray;
			color: #fff;
			&::after {
				background: url(../img/icon_l-arw-w.png) no-repeat center/100%;
				@media only screen and (max-width:768px){
				}
			}
		}
	}	
}

.toin {
	padding: 75px 0 96px;
	background: url(../img/bg03.jpg) no-repeat top center/cover;
	position: relative;
	&::before {
		content: "";
		width: 1px;
		height: 72px;
		background-color: #fff;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 auto;
		@media only screen and (max-width:768px){
			height: 40px;
		}
	}
	@media only screen and (max-width:980px){
	}
	@media only screen and (max-width:768px){
		padding: 40px 0 40px;
		background: url(../img/bg03-sp.jpg) no-repeat top center/cover;
	}
	&__inner {
		@include box;
		position: relative;
		@media only screen and (max-width:768px){
		}
	}
	&__ttl {
		@include h2;
		color: #fff;
		margin-bottom: 130px;
		@media only screen and (max-width:768px){
			margin-bottom: 30px;
		}
		&::before {
			background: url(../img/ttl_book.png) no-repeat center/100%;
			@media only screen and (max-width:768px){
			}
		}
	}
	&__box {
		color: #fff;
		margin: 0 auto 130px;
		text-align: center;
		@media only screen and (max-width:768px){
			margin-bottom: 50px;
		}
	}
	&__s-ttl {
		max-width: 627px;
		margin: 0 auto 24px ;
		@media only screen and (max-width:768px){
			width: 203px;
		}
	}
	&__body {
		font-size: 18px;
		line-height: 180%;
		text-align: center;
		@include zenk;
		@media only screen and (max-width:768px){
			font-size: 14px;

		}
	}
	&__list {
		@include box(830px);
		padding: 25px 0;
		font-weight: 500;
		background-color: #fff;
		border-radius: 2px;
		box-sizing: border-box;
		@media only screen and (max-width:768px){
			max-width: 400px;
			padding: 8px 0;
		}
	}
	&__item {
		@include box(739px);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 32px 15px;
		font-weight: normal;
		box-sizing: border-box;
		position: relative;
		&:not(:last-child) {
			border-bottom: solid 1px $lgray;
		}
		@media only screen and (max-width:768px){
			padding: 24px 16px;
			display: block;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
		}
	}
	&__c-ttl {
		padding: 0 16px 0 0;
		width: 42%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;
		@media only screen and (max-width:768px){
			padding: 0;
			width: 100%;
			text-align: center;
			justify-content: start;
			gap: 32px;
			margin-bottom: 16px;
		}
	}
	&__num {
		@include zenk;
		width: 48%;
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 0;
		display: flex;
    	align-items: center;
		gap: 20%;
		@media only screen and (max-width:768px){
			width: 40px;
			font-size: 12px;
			display: block;
		}
		&::before {
			content: "";
			width: 56px;
			height: 56px;
			display: inline-block;
			@media only screen and (max-width:768px){
				width: 40px;
				height: 41px;
				display: block;
				margin-bottom: 2px;
			}
		}
		&--01::before { 
			background: url(../img/c1.png) no-repeat center/100%;
			@media only screen and (max-width:768px){
				background: url(../img/c1-sp.png) no-repeat center/100%;
			}
		}
		&--02::before { 
			background: url(../img/c2.png) no-repeat center/100%;
			@media only screen and (max-width:768px){
				background: url(../img/c1-sp.png) no-repeat center/100%;
				transform: rotate( 90deg );
			}
		}
		&--03::before { 
			background: url(../img/c3.png) no-repeat center/100%;
			@media only screen and (max-width:768px){
				background: url(../img/c1-sp.png) no-repeat center/100%;
				transform: rotate( -125deg );
			}
		}
		&--04::before { 
			background: url(../img/c4.png) no-repeat center/100%;
			@media only screen and (max-width:768px){
				background: url(../img/c1-sp.png) no-repeat center/100%;
				transform: rotate( 45deg );
			}
		}
		&--05::before { 
			background: url(../img/c5.png) no-repeat center/100%;
			@media only screen and (max-width:768px){
				background: url(../img/c1-sp.png) no-repeat center/100%;
				transform: rotate( 45deg );
			}
		}
	}
	&__name {
		width: 48%;
		// padding-right: 11%;
		@include zenk;
		font-weight: bold;
		letter-spacing: 0;
		text-align: center;
		box-sizing: border-box;
		@media only screen and (max-width:768px){
			font-size: 12px;
			width: 100%;
			text-align: left;
		}
	}
	&__bld {
		font-size: 21px;
		margin-bottom: 5px;
		@media only screen and (max-width:768px){
		}
	}
	&__sub {
		display: block;
		font-size: 14px;
		color: $gold;
		@media only screen and (max-width:768px){
		}
	}
	&__link {
		width: 56%;
		line-height: 160%;
		padding: 2px 0;
		padding-left: 5%;
		font-size: 14px;
		border-left: solid 1px $kuro;
		@media only screen and (max-width:768px){
			font-size: 13px;
			width: 100%;
			padding: 0;
			text-align: center;
			border: none;
		}
	}
}

.anshin {
	padding: 80px 0;
	background: url(../img/bg04.png) no-repeat top center/cover;
	position: relative;
	@media only screen and (max-width:768px){
		padding: 80px 0 40px;
		background: url(../img/bg04-sp.png) no-repeat top center/cover;
	}
	&::before {
		content: "";
		width: 15px;
		height: 65px;
		background: url(../img/bg_arw.png) no-repeat top center/cover;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	&__inner {
		color: $db;
		@include box;
		position: relative;
		@media only screen and (max-width:768px){
		}
	}
	&__ttl {
		@include zenk;
		font-size: 32px;
		line-height: 140%;
		font-weight: 600;
		margin-bottom: 16px;
		text-align: center;
		@media only screen and (max-width:768px){
			font-size: 24px;
		}
	}
	&__txt {
		@include zenk;
		font-size: 18px;
		line-height: 180%;
		font-weight: 500;
		text-align: center;
		margin-bottom: 40px;
		@media only screen and (max-width:768px){
			font-size: 14px;
			margin-bottom: 24px;
		}
	}
	&__list {
		display: flex;
		justify-content: space-between;
		@media only screen and (max-width:768px){
			display: block;
			max-width: 480px;
			margin: 0 auto;
		}
	}
	&__item {
		max-width: 205px;
		width: 19%;
		background-color: $gray;
		@media only screen and (max-width:768px){
			width: 100%;
			max-width: 100%;
		}
		&:not(:last-child) {
			@media only screen and (max-width:768px){
				margin-bottom: 12px;
			}
		}
	}
	&__link {
		display: block;
		@media only screen and (max-width:768px){

		}
	}
	&__anime {
		
		@media only screen and (max-width:768px){
		}
	}
	
}

.hellow {
	padding: 80px 0;
	background: url(../img/bg05.jpg) no-repeat top center/cover;
	position: relative;
	@media only screen and (max-width:768px){
		padding: 50px 0 40px;
		background: none;
	}
	&__inner {
		@include box(574px);
		position: relative;
		@media only screen and (max-width:768px){
		}
	}
	&__ttl {
		font-size: 25px;
		line-height: 130%;
		font-weight: 600;
		margin-bottom: 26px;
		text-align: center;
		@media only screen and (max-width:768px){
			font-size: 16px;
		}
	}
	&__txt {
		font-size: 25px;
		letter-spacing: 0;
		line-height: 190%;
		font-weight: 600;
		margin-bottom: 20px;
		@media only screen and (max-width:768px){
			font-size: 16px;
			margin-bottom: 16px;
			text-align: center;
		}
	}
	&__body {
		font-size: 16px;
		letter-spacing: 0;
		line-height: 200%;
		font-weight: 500;
		overflow: hidden;
		margin-bottom: 24px;
		@media only screen and (max-width:768px){
			font-size: 14px;
			letter-spacing: -0.03em;
			text-align: center;
		}
	}
	&__sain {
		margin-top: 16px;
		float: right;
		text-align: right;
		@media only screen and (max-width:768px){
		}
	}
	&__kata {
		font-size: 13px;
		line-height: 120%;
		font-weight: 600;
		margin-bottom: 6px;
		@media only screen and (max-width:768px){
		}
	}
	&__name {
		display: flex;
		justify-content: start;
		gap: 16px;
		font-size: 10px;
		@media only screen and (max-width:768px){
		}
	}
	&__kanji {
		font-size: 18px;
		font-weight: 600;
		@media only screen and (max-width:768px){
		}
	}
	&__btn {
		@include b-btn;
	}
	&__inlink {
		@include in-btn;
	}
	&__pict {
		max-width: 574px;
		margin: 0 auto;
	}
}

.year {
	padding: 80px 0;
	background: url(../img/bg06.jpg) no-repeat top center/cover;
	color: #fff;
	position: relative;
	@media only screen and (max-width:768px){
		padding: 40px 0;
		background: url(../img/bg06-sp.png) no-repeat top center/cover;
	}
	&__inner {
		@include box(618px);
		display: flex;
		justify-content: space-between;
		position: relative;
		@media only screen and (max-width:768px){
			display: block;
			width: calc(100% - 80px);
			max-width: 500px;
		}
	}
	&__ttl {
		font-size: 25px;
		line-height: 130%;
		font-weight: 600;
		text-align: center;
		@media only screen and (min-width:769px){
			width: 55px;
			writing-mode: vertical-rl;
			letter-spacing: 0.2em;
    		margin-right: 40px;
			&--100 {
				writing-mode:lr;
				letter-spacing: 0em;
				margin: 0;
			}
		}
		@media only screen and (max-width:768px){
			font-size: 21px;
			margin-bottom: 16px;
		}
		
	}
	&__list {
		box-sizing: border-box;
		font-size: 16px;
		line-height: 200%;
		font-weight: 500;
		@media only screen and (min-width:769px){
		border-left: solid 1px #fff;
		width: 85%;
		padding-left: 5%;
		}
		@media only screen and (max-width:768px){
			font-size: 14px;
			border-top: solid 1px #fff;
			padding-top:16px;
		}
	}
	&__item {
		line-height: 200%;
		font-weight: 500;
		letter-spacing: 0;
		&:not(:last-child) {margin-bottom: 10px;}
		@media only screen and (max-width:768px){
		}
		&--bld {
			font-size: 23px;
			font-weight: 600;
			@media only screen and (max-width:768px){
				font-size: 18px;
				// text-align: center;
			}
		}
	}
	&__body {
		
		@media only screen and (max-width:768px){
			
		}
	}
}

.annai {
	padding: 80px 0 0;
	position: relative;
	@media only screen and (max-width:768px){
		padding: 40px 0 0px;
	}
	&__inner {
		@include box;
		position: relative;
		@media only screen and (max-width:768px){
		}
	}
	&__ttl {
		font-size: 25px;
		line-height: 130%;
		font-weight: 600;
		margin-bottom: 32px;
		text-align: center;
		@media only screen and (max-width:768px){
			font-size: 16px;
			margin-bottom: 20px;
		}
	}
	&__sub {
		font-size: 18px;
		letter-spacing: 0;
		line-height: 140%;
		font-weight: 600;
		margin-bottom: 24px;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media only screen and (max-width:768px){
			font-size: 14px;
			margin-bottom: 20px;
			text-align: center;
		}
		&::before,&::after {
			content: "";
			width: 34.5%;
			height: 1px;
			@media only screen and (max-width:768px){
				width: 20%;
			}
		}
		&::before {
			left: 0;
			background-image: linear-gradient(to right, $bkuro, $gwhite);
			@media only screen and (max-width:768px){
				
			}
		}
		&::after {
			right: 0;
			background-image: linear-gradient(to right, $gwhite, $gold);
			@media only screen and (max-width:768px){
				
			}
		}
	}
	&__sec {
		overflow: hidden;
		@media only screen and (max-width:768px){

		}
		&--01 {
			background: url(../img/bg07.jpg) no-repeat top center/cover;
			padding-bottom: 64px;
			@media only screen and (max-width:768px){
				background: url(../img/bg07-sp.jpg) no-repeat top center/cover;
				padding-bottom: 40px;
			}	
		}
		&--02 {
			background: url(../img/bg08.jpg) no-repeat top center/cover;
			padding-bottom: 64px;
			@media only screen and (max-width:768px){
				background: url(../img/bg08-sp.jpg) no-repeat top center/cover;
				padding-bottom: 40px;
			}	
		}
	}
	&__in-inner {
		@include box;
		// overflow: hidden;
		@media only screen and (max-width:768px){
        	max-width: 500px;
		}
	}
	&__box {
		max-width: 877px;
		width: 100%;
		margin-top: 120px;
		background-color: #fff;
		float: right;
		@media only screen and (max-width:768px){
			float: none;
		}
		&--02 {
			float: none;
		}
	}
	&__contents {
		@include box(765px);
		padding: 40px 0 64px;
		box-sizing: border-box;
		@media only screen and (max-width:768px){
			padding: 24px 0 ;
		}
	}
	&__in-ttl {
		font-size: 32px;
		line-height: 130%;
		font-weight: 600;
		margin-bottom: 16px;
		@media only screen and (max-width:768px){
			font-size: 21px;
		}
	}
	&__txt {
		font-size: 16px;
		line-height: 160%;
		margin-bottom: 16px;
		@media only screen and (max-width:768px){
			font-size: 13px;
		}
	}
	&__dl {
		background-color: $wglay;
		@include zenk;
		color: $d-gray;
		padding: 16px;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media only screen and (max-width:768px){
			display: block;
		}
	}
	
	&__dd {
		width: 74%;
		@media only screen and (max-width:768px){
			width: 100%;
		}
	}
	&__dt {
		font-size: 16px;
		margin-bottom: 8px;
		font-weight: bold;
		@media only screen and (max-width:768px){
		font-size: 14px;

		}
	}
	&__p {
		font-size: 14px;
		line-height: 160%;
		@media only screen and (max-width:768px){
		font-size: 13px;
		margin-bottom: 16px;
		}
	}
	&__pict {
		max-width: 166px;
		width: 23%;
		@media only screen and (max-width:768px){
			max-width: 100%;
			width: 100%;
		}
	}
	&__btn {
		max-width: 552px;
		// float: right;
		margin: -40px -20px 0 0;
		border: solid 1px #fff;
		border-radius: 1px;
		box-sizing: border-box;
		display: inline-block;
		&--01 {
			margin: -40px -20px 0 53%;
		}
		&--02 {
			float: none;
			margin: -40px 0px 0 345px;
		}
		@media only screen and (max-width:768px){
			max-width: 327px;
			margin: 20px auto 0;
			float: none;
			display: block;
		}
	}
}

.etc {
	padding: 80px 0 40px;
	position: relative;
	@media only screen and (max-width:768px){
		padding: 40px 0 ;
	}
	&__inner {
		@include box;
		position: relative;
		@media only screen and (max-width:768px){
		}
	}
	&__ttl {
		font-size: 25px;
		line-height: 130%;
		font-weight: 600;
		margin-bottom: 32px;
		text-align: center;
		@media only screen and (max-width:768px){
			font-size: 16px;
			margin-bottom: 20px;
		}
	}
	&__sub {
		font-size: 18px;
		letter-spacing: 0;
		line-height: 140%;
		font-weight: 600;
		margin-bottom: 24px;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media only screen and (max-width:768px){
			font-size: 14px;
			margin-bottom: 20px;
			text-align: center;
		}
		&::before,&::after {
			content: "";
			width: 34.5%;
			height: 1px;
			// background-color: ;
			@media only screen and (max-width:768px){
				width: 20%;
			}
		}
		&::before {
			left: 0;
			background-image: linear-gradient(to right, $bkuro, $gwhite);
			@media only screen and (max-width:768px){
				
			}
		}
		&::after {
			right: 0;
			background-image: linear-gradient(to right, $gwhite, $gold);
			@media only screen and (max-width:768px){
				
			}
		}
	}
	&__list {
		@include box;
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		row-gap: 16px;
		margin-bottom: 40px;
		@media only screen and (max-width:768px){
			max-width: 500px;
			width: 100%;
			row-gap: 12px;
			margin-bottom: 24px;
		}
	}
	&__item {
		@include zenk;
		max-width: 211px;
		width: 19.5%;
		@media only screen and (max-width:768px){
			width: 31%;
		}
		
	}
	&__link {
		padding: 27px 5px;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		display: block;
		text-align: center;
		border-radius: 1px;
		border: solid 1px $lgray;
		box-sizing: border-box;
		background-color: #fff;
		&:hover {
			opacity: 1;
			box-shadow: 0px 2px 10px rgba($color: $db, $alpha: 0.12);
			.etc__pict { background-color: $db;}
		}
		@media only screen and (max-width:768px){
			padding: 12px;
		}
	}
	&__pict {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		// background-color: $db;
		background-color: #b5b5b5;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto 16px;
		@media only screen and (max-width:768px){
			width: 56px;
			height: 56px;
			margin-bottom: 8px;
		}
		&::before {
			content: "";
			width: 48px;
			height: 48px;
			display: inline-block;
			@media only screen and (max-width:768px){
			width: 34px;
			height: 34px;
			}
		}
		&--01::before { background: url(../img/icon_etc01.png) no-repeat center/100%;}
		&--02::before { background: url(../img/icon_etc02.png) no-repeat center/100%;}
		&--03::before { background: url(../img/icon_etc03.png) no-repeat center/100%;}
		&--04::before { background: url(../img/icon_etc04.png) no-repeat center/100%;}
		&--05::before { background: url(../img/icon_etc05.png) no-repeat center/100%;}
		&--06::before { background: url(../img/icon_etc06.png) no-repeat center/100%;}
		&--07::before { background: url(../img/icon_etc07.png) no-repeat center/100%;}
		&--08::before { background: url(../img/icon_etc08.png) no-repeat center/100%;}
		&--09::before { background: url(../img/icon_etc09.png) no-repeat center/100%;}
		&--10::before { background: url(../img/icon_etc10.png) no-repeat center/100%;}
		&--11::before { background: url(../img/icon_etc11.png) no-repeat center/100%;}
		&--12::before { background: url(../img/icon_etc12.png) no-repeat center/100%;}
		&--13::before { background: url(../img/icon_etc13.png) no-repeat center/100%;}
		&--14::before { background: url(../img/icon_etc14.png) no-repeat center/100%;}
		&--15::before { background: url(../img/icon_etc15.png) no-repeat center/100%;}
	}
	&__name {
		font-size: 14px;
		line-height: 120%;
		letter-spacing: -0.02em;
		@media only screen and (max-width:768px){
		font-size: 12px;
		}
	}
	&__btn {
		@include b-btn;
	}
	&__inlink {
		@include in-btn;
	}
}

.whats {
	padding: 50px 0 40px;
	position: relative;
	background-color: $wglay;
	@media only screen and (max-width:768px){
		padding: 40px 0;
	}
	&__inner {
		@include box;
		position: relative;
		@media only screen and (max-width:768px){
		}
	}
	&__ttl {
		font-size: 25px;
		line-height: 140%;
		font-weight: 600;
		margin-bottom: 32px;
		text-align: center;
		@media only screen and (max-width:768px){
			font-size: 21px;
			margin-bottom: 16px;
		}
	}
	&__pict {
		margin-bottom: 40px;
		@media only screen and (max-width:768px){
			margin-bottom: 16px;
		}
		
	}
	&__img {
		display: none;
	}
	.active { display: block;}
	&__list {
		@include box;
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		row-gap: 16px;
		margin-bottom: 40px;
		@media only screen and (max-width:768px){
			max-width: 500px;
			width: 100%;
			row-gap: 8px;
			margin-bottom: 24px;
		}
	}
	&__item {
		max-width: 268px;
		width: 24.5%;
		@media only screen and (max-width:768px){
			width: 49%;
		}
		
	}
	&__link {
		font-size: 14px;
		line-height: 140%;
		padding: 16px 5px;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		display: block;
		text-align: center;
		border-radius: 1px;
		box-sizing: border-box;
		background-color: #fff;
		&:hover {
			opacity: 1;
			box-shadow: 0px 2px 10px rgba($color: $db, $alpha: 0.12);
			border: solid 1px $gray;
		}
		@media only screen and (max-width:768px){
			padding: 12px;
		}
	}
	&__btn {
		@include b-btn;
		background-color: $gray;
	}
	&__inlink {
		@include in-btn;
	}
}


.co {
	padding: 40px 0;
	background: url(../img/bg09.png) #fff no-repeat center/cover;
	@media only screen and (max-width:980px){
	}
	@media only screen and (max-width:768px){
		padding: 40px 0 40px;
		background: url(../img/bg09-sp.png) #fff no-repeat top center/cover;
	}
	&__inner {
		@include box;
		position: relative;
		@media only screen and (max-width:768px){
		}
	}
	&__ttl {
		@include h2;
		@media only screen and (max-width:768px){
		}
		&::before {
			background: url(../img/ttl_co.png) no-repeat center/100%;
			@media only screen and (max-width:768px){
			}
		}
	}
	&__s-box {
		margin: 0 auto 30px;
		text-align: center;
		@media only screen and (max-width:768px){

		}
	}
	
	&__list {
		@include box;
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 40px;
		@media only screen and (max-width:768px){
			max-width: 500px;
			width: 100%;
			row-gap: 8px;
			margin-bottom: 24px;
		}
	}
	&__item {
		max-width: 357px;
		width: 32%;
		border: solid 1px $lgray;
		box-sizing: border-box;
		@media only screen and (max-width:768px){
			max-width: 100%;
			width: 100%;
		}
		
	}
	&__link {
		font-size: 14px;
		line-height: 140%;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		display: block;
		border-radius: 1px;
		box-sizing: border-box;
		background-color: #fff;
		&:hover {
			opacity: 1;
			box-shadow: 0px 2px 10px rgba($color: $db, $alpha: 0.12);
		}
		@media only screen and (max-width:768px){
			padding: 12px;
		}
	}
	&__pict {
		@media only screen and (max-width:768px){
		}
	}
	&__body {
		background-color: #fff;
		padding: 16px 24px;
		box-sizing: border-box;
		@media only screen and (max-width:768px){

		}
	}
	&__data {
		display: flex;
		justify-content: space-between;
		margin-bottom: 8px;
		@media only screen and (max-width:768px){

		}
	}
	&__cat {
		font-size: 12px;
		line-height: 140%;
		padding: 4px 20px;
		border-radius: 20px;
		background-color: #eee;
		color: $gold;
		@media only screen and (max-width:768px){
			
		}
	}
	&__day {
		font-size: 14px;
		@media only screen and (max-width:768px){
			
		}
	}
	&__s-ttl {
		@include zenk;
		font-size: 18px;
		line-height: 140%;
		font-weight: 600;
		margin: 0 auto 16px ;
		@media only screen and (max-width:768px){

		}
	}
	&__txt {
		font-size: 14px;
		line-height: 160%;
		@media only screen and (max-width:768px){

		}
	}
	&__btn {
		@include b-btn;
		background-color: $gold;
	}
	&__inlink {
		@include in-btn;
	}	
}

.add {
	padding: 40px 0;
	background: #fff;
	@media only screen and (max-width:980px){
	}
	@media only screen and (max-width:768px){
		padding: 24px 0 40px;
	}
	&__inner {
		@include box;
		position: relative;
		@media only screen and (max-width:768px){
		}
	}
	&__map {
		margin-bottom: 20px;
		@media only screen and (max-width:768px){
		}
		iframe {
			width: 100%;
			height: 300px;
			@media only screen and (max-width:768px){
				height: 200px;
			}
		}
	}
	&__ttl {
		@include h2;
		@media only screen and (max-width:768px){
		}
		&::before {
			background: url(../img/ttl_info.png) no-repeat center/100%;
			@media only screen and (max-width:768px){
			}
		}
	}
	&__box {
		display: flex;
		justify-content: space-between;
		@media only screen and (max-width:768px){
			max-width: 500px;
			display: block;
			margin: 0 auto;
		}
	}
	&__left {
		max-width: 548px;
		width: 49%;
		@media only screen and (max-width:768px){
			max-width: 100%;
			width: 100%;
			margin-bottom: 16px;
		}
	}
	&__s-ttl {
		max-width: 280px;
		margin: 0 auto 24px;
		@media only screen and (max-width:768px){
			max-width: 219px;
		}
	}
	&__list {
		width: 100%;
		font-weight: 500;
		background-color: #fff;
		border-radius: 2px;
		box-sizing: border-box;
		margin-bottom: 24px;
		@media only screen and (max-width:768px){
			
		}
	}
	&__item {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: normal;
		box-sizing: border-box;
		position: relative;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
		@media only screen and (max-width:768px){
			
		}
	}
	&__day {
		font-size: 12px;
		line-height: 120%;
		font-weight: bold;
		width: 16%;
		letter-spacing: -0.05em;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2px;
		background-color: $wglay;
		padding: 7px 2px;
		box-sizing: border-box;
		@media only screen and (max-width:768px){
			width: 29%;
			font-size: 12px;
		}
		&::before {
			content: "";
			width: 12px;
			height: 12px;
			display: inline-block;
			@media only screen and (max-width:768px){

			}
		}
		&--01::before {
			background: url(../img/icon_pin.png) no-repeat center/100%;
			@media only screen and (max-width:768px){
				
			}
		}
		&--02::before {
			background: url(../img/icon_train.png) no-repeat center/100%;
			@media only screen and (max-width:768px){
				
			}
		}
	}
	&__link {
		font-size: 14px;
		width: 82%;
		@media only screen and (max-width:768px){
			font-size: 13px;
			width: 68%;
		}
	}
	&__in-box {
		border: solid 1px $lgray;
		padding: 8px;
		box-sizing: border-box;
		margin-bottom: 8px;
		@media only screen and (max-width:768px){

		}
	}
	&__right {
		max-width: 548px;
		width: 49%;
		@media only screen and (max-width:768px){
			max-width: 100%;
			width: 100%;
		}
	}
}

.guide {
	padding: 64px 0;
	background: #66676B;
	color: #fff;
	@media only screen and (max-width:980px){
	}
	@media only screen and (max-width:768px){
		padding: 40px 0;
	}
	&__inner {
		@include box(860px);
		position: relative;
		@media only screen and (max-width:768px){
		}
	}

	&__box {
		display: flex;
		justify-content: space-between;
		&:not(:last-child) {
			border-bottom: solid 1px #fff;
			margin-bottom: 32px;
			padding-bottom: 32px;
			@media only screen and (max-width:768px){
				margin-bottom: 24px;
				padding-bottom: 24px;
			}
		}
		@media only screen and (max-width:768px){
			display: block;
		}
	}
	&__inbox {
		font-size: 13px;
		&:not(:last-child) {
			margin-bottom: 24px;
			@media only screen and (max-width:768px){
				margin-bottom: 16px;
			}
		}
		@media only screen and (max-width:768px){
			font-size: 12px;
		}
	}
	&__dt {
		max-width: 246px;
		width: 32%;
		@include zenk;
		font-size: 14px;
		@media only screen and (max-width:768px){
			max-width: 100%;
			width: 100%;
			margin-bottom: 16px;
		}
	}
	&__dd {
		width: 66%;
		@media only screen and (max-width:768px){
			width: 100%;
			padding: 0 8px;
			box-sizing: border-box;
		}
	}
	&__txt {
		line-height: 160%;
		@media only screen and (max-width:768px){
			font-size: 12px;
		}
	}
	&__blank {
		margin-top: 16px;
		@media only screen and (max-width:768px){
			
		}
	}
	&__link {
		font-size: 12px;
		letter-spacing: 0;
		display: block;
		text-decoration: underline;
		text-underline-offset: 2px;
		color: #fff;
		display: flex;
		justify-content: start;
		&:not(:last-child) {
			margin-bottom: 8px;
		}
		@media only screen and (max-width:768px){
			
		}
	}
	&__icon {
		margin-top: 3px;
		width: 4%;
		max-width: 14px;
		height: 14px;
		display: inline-block;
		margin-right: 2px;
	}
	&__intxt {
		width: 95%;
	}
	&__sm {
		font-size: 12px;
		@media only screen and (max-width:768px){
			display: inline;
		}
	}
	&__s-ttl {
		@include not;
		font-weight: 400;
		margin-bottom: 4px;
		@media only screen and (max-width:768px){
			
		}
	}
}

.slider {
	@media only screen and (max-width:768px){
	}
	.swiper-slide {
		max-width: 450px;
		@media only screen and (max-width:768px){
			// max-width: 255px;
			width: 40%;
		}
	}
	&__pict {

		@media only screen and (max-width:768px){

		}
	}
}

}