@charset "UTF-8";
img {
  width: 100%;
  display: block;
}

li {
  list-style: none;
}

a:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 980px) {
  .pc {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .pc02 {
    display: none !important;
  }
}

@media only screen and (min-width: 981px) {
  .tb {
    display: none !important;
  }
}

@media only screen and (min-width: 769px) {
  .sp {
    display: none !important;
  }
}

body {
  color: #333;
  font-size: 13px;
  line-height: 140%;
  font-feature-settings: "palt";
  letter-spacing: 0.02rem;
  font-family: "Zen Old Mincho", serif;
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

.header {
  padding: 10px 25px;
  line-height: 32px;
  font-size: 16px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  z-index: 11;
  transition: 0.3s ease-in-out;
  background-color: rgba(14, 23, 58, 0.85);
  box-sizing: border-box;
}
@media only screen and (max-width: 980px) {
  .header {
    overflow: unset;
    padding: 10px 15px;
  }
}
.header__l-link {
  width: 251px;
  display: block;
  display: block;
}
.header__logo {
  width: 219px;
  height: 48px;
  background: url(../img/logo.png) no-repeat center/100%;
}
@media only screen and (max-width: 980px) {
  .header__logo {
    width: 146px;
    height: 32px;
  }
}
.header__name {
  font-size: 10px;
  letter-spacing: 0;
  line-height: 140%;
  margin-top: 6px;
  color: #fff;
}
@media only screen and (max-width: 980px) {
  .header__name {
    margin-top: 5px;
  }
}
.header__img {
  display: block;
}
.header__logo:hover {
  opacity: 0.7;
}
.header__links {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  gap: 8px;
  margin-bottom: 15px;
  margin-right: 15px;
  z-index: 99;
}
@media only screen and (max-width: 980px) {
  .header__btn {
    font-size: 16px;
  }
}
.header__btn--01 {
  max-width: 110px;
}
.header__btn--02 {
  max-width: 143px;
}
.header__fix {
  display: none;
}
.global__list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  max-width: 1000px;
}
.global__item {
  font-size: 13px;
  line-height: 125%;
  display: inline-block;
}
.global__link {
  color: #fff;
  display: block;
  height: 100%;
  font-weight: 500;
  padding: 6px 15px;
  position: relative;
  box-sizing: border-box;
}
.global__link:hover {
  opacity: 1;
  border-bottom: solid 1px #fff;
}
.global__right {
  float: right;
  max-width: 350px;
  width: 32%;
  font-size: 16px;
}
.global__contact {
  float: right;
  max-width: 350px;
  width: 32%;
  display: flex;
  height: 52px;
  line-height: 52px;
}
.global__btn {
  background-color: #0071aa;
  border-radius: 16px;
  padding: 0 18px;
}
@media only screen and (max-width: 768px) {
  .global__btn {
    padding: 0 9px;
  }
}

.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.85);
}
.fixed #nav_toggle {
  background-color: rgba(14, 23, 58, 0.7);
}
.fixed .header__links {
  display: none;
}
.fixed .header__logo {
  background: url(../img/logo02.png) no-repeat center/100%;
}
.fixed .header__name {
  color: #333;
}
.fixed .header__top {
  display: none;
}
.fixed .header__fix {
  display: block;
}
.fixed .global__link {
  color: #333;
}
.fixed .global__link:hover {
  border-bottom: solid 1px #333;
}

/**********************************************************************************

      MENU

**********************************************************************************/
@media only screen and (max-width: 980px) {
  #top_head ul.global_menu {
    transform: rotate(90deg) translateY(-50%);
    position: fixed;
    right: -250px;
    top: 50%;
    bottom: auto;
    z-index: 9999;
    display: block;
  }
  #top_head .inner #global_nav .sp_menu {
    display: none;
  }
  #top_head ul.global_menu > li {
    float: left;
    font-weight: bold;
    list-style: none;
    margin: 0 20px;
  }
  #top_head ul.global_menu > li > a {
    text-decoration: none;
    color: #818181;
  }
  /***** Toggle Button ******/
  #top_head .box {
    overflow: hidden;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 15px;
    z-index: 110;
    text-align: center;
  }
  #nav_toggle {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 101;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);
  }
  #nav_toggle div {
    position: relative;
  }
  #nav_toggle span {
    display: block;
    position: absolute;
    left: 30%;
    width: 16px;
    height: 2px;
    background: #fff;
    transition: 0.8s;
    border-radius: 5px;
  }
  #nav_toggle span:nth-child(1) {
    top: 12px;
  }
  #nav_toggle span:nth-child(2) {
    top: 18px;
    width: 10px;
  }
  #nav_toggle span:nth-child(3) {
    top: 25px;
    width: 13px;
  }
}
/*******************************************************

			  ƒnƒ“ƒo[ƒK[ƒƒjƒ…[

*******************************************************/
#top_head ul.global_menu {
  display: none;
}

#top_head .inner #global_nav .sp_menu {
  display: block;
}

#top_head {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  z-index: 10;
}
@media only screen and (min-width: 981px) {
  #top_head {
    display: none;
  }
}

/* Fixed reset */
#top_head.fixed {
  padding-top: 0;
}

#mobile_head {
  width: 100%;
  height: 50px;
  z-index: 1010;
  position: relative;
}

#global_nav {
  opacity: 0;
  width: calc(100% - 40px);
  display: block;
  margin: 0 auto;
  position: fixed;
  top: 0px;
  right: -100vw;
  background-size: cover;
  height: 100%;
  transition: 0.5s ease-in-out;
}

#global_nav em {
  display: block;
  margin-bottom: 35px;
}

#global_nav ul.sp_menu li {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: static;
}
#global_nav ul.sp_menu li:not(:last-child) {
  border-bottom: solid 1px #ddd;
}
#global_nav ul.sp_menu .menu__item--in {
  line-height: 140%;
  display: block;
}
#global_nav ul.sp_menu .menu__item--in a {
  padding: 7px 0;
}

#global_nav .inner {
  max-width: 500px;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 15px 0 0;
}
#global_nav .inner .contact .btn {
  line-height: 50px;
}

.global-n__l-link {
  background: url(../img/logo02-sp.png) no-repeat center/100%;
  display: block;
  width: 251px;
  height: 48px;
  margin-bottom: 30px;
}
.global-n__links {
  margin-bottom: 24px;
}
.global-n__btn {
  font-size: 13px;
  line-height: 140%;
  border: solid 1px #9B7714;
  text-align: center;
  display: block;
  padding: 10px 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 1px;
}
.global-n__btn::before {
  content: "";
  width: 14px;
  height: 14px;
}
.global-n__btn--01 {
  color: #fff;
  background-color: #9B7714;
  margin-bottom: 8px;
}
.global-n__btn--01::before {
  background: url(../img/icon_cld.png) no-repeat center/100%;
}
.global-n__btn--02 {
  color: #9B7714;
  font-weight: bold;
}
.global-n__btn--02::before {
  background: url(../img/icon_tel.png) no-repeat center/100%;
}
.global-n__box {
  border: solid 1px #ddd;
  padding: 12px;
  box-sizing: border-box;
}
.global-n__info {
  font-size: 10px;
  display: block;
  line-height: 120%;
}

.n-table {
  width: 100%;
  margin-bottom: 5px;
}
.n-table__tr:not(:last-child) {
  border-bottom: solid 1px #ddd;
}
.n-table__th {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  padding: 12px 0;
}
.n-table__th:not(:last-child) {
  border-right: solid 1px #ddd;
}
.n-table__th--time {
  width: 33%;
}
.n-table__td {
  font-size: 12px;
  width: 10%;
  text-align: center;
  color: #19275B;
  vertical-align: middle;
}
.n-table__td:not(:last-child) {
  border-right: solid 1px #ddd;
}
.n-table__td--ttl {
  color: #333;
  width: 30%;
  line-height: 120%;
  padding: 10px 0;
}
.n-table__info {
  font-size: 10px;
  display: block;
}

#global_nav .info {
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: -0.02rem;
  display: block;
  font-style: normal;
  padding-bottom: 10px;
}

#global_nav .info a {
  font-size: 28px;
  line-height: 140%;
  font-weight: bold;
}

#global_nav ul.sp_menu li a {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  line-height: 120%;
  color: #333;
  box-sizing: border-box;
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  padding: 15px 5px;
  position: relative;
}
#global_nav ul.sp_menu li a::after {
  content: "";
  width: 5px;
  height: 9px;
  background: url(../img/icon_m-arw.png) no-repeat center/100%;
  display: inline-block;
}
#global_nav .contact a i {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 22px;
}

#global_nav ul.sp_menu li a:hover {
  opacity: 0.6;
}

#top_head #global_nav ul.sp_menu li a #top_head.fixed #global_nav ul.sp_menu li a {
  width: 100%;
  display: block;
  color: #fff;
  padding: 18px 0;
}

#top_head #global_nav ul.sns {
  max-width: 540px;
  margin: 0 auto;
}

#top_head #global_nav ul.sns li:nth-child(-n+2) {
  float: left;
  margin-right: 20px;
}

#top_head #global_nav ul.sns li a {
  font-size: 18px;
  line-height: 24px;
  padding: 30px 25px 25px;
  width: 165px;
}

#top_head #global_nav ul.sns li a img {
  display: block;
  margin: 0 auto;
}

#top_head #global_nav ul.sns li:last-child img {
  margin-top: 6px;
  margin-bottom: 18px;
}

#nav_toggle {
  display: block;
}

.sp-nav__link {
  height: 50px;
  font-size: 16px;
}
.sp-nav__link:first-child {
  margin-bottom: 10px;
}
.sp-nav__ttl {
  line-height: 160%;
  font-weight: bold;
  padding: 10px 0px;
}
.sp-nav__logo {
  max-width: 300px;
  display: table;
  margin: 0 auto;
}

/***** 3本線をクリックした場合の処理 *****/
.open {
  opacity: 1;
  z-index: 11;
  transition: 0.3s;
}
@media only screen and (min-width: 981px) {
  .open {
    display: none;
  }
}
.open #nav_toggle {
  background-color: #0E173A;
}
.open #nav_toggle span {
  background: #fff;
  left: 25%;
}
.open #nav_toggle span:nth-child(1) {
  width: 20px;
  top: 20px;
  transform: rotate(315deg);
}
.open #nav_toggle span:nth-child(2) {
  width: 0;
  left: 50%;
}
.open #nav_toggle span:nth-child(3) {
  width: 20px;
  top: 20px;
  transform: rotate(-315deg);
}
.open #global_nav {
  right: 0;
  top: 0;
  z-index: 11;
  opacity: 1;
  transition: 0.3s ease-in-out;
  background: #fff;
  border-radius: 10px 0 0 10px;
  width: 95%;
  overflow-y: scroll;
  padding-bottom: 100px;
}
.open #global_nav .sp_menu {
  margin-bottom: 25px;
}

.wrapper {
  display: block;
  overflow: hidden;
}

.footer {
  color: #fff;
}
.footer__sec {
  padding: 64px 0;
  background: #0E173A;
}
@media only screen and (max-width: 768px) {
  .footer__sec {
    padding: 40px 0;
  }
}
.footer__inner {
  max-width: 860px;
  width: calc(100% - 40px);
  margin: 0 auto;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .footer__inner {
    width: calc(100% - 30px);
  }
}
.footer__box:not(:last-child) {
  border-bottom: solid 1px #6E6E6E;
  margin-bottom: 32px;
  padding-bottom: 40px;
}
@media only screen and (max-width: 768px) {
  .footer__box:not(:last-child) {
    margin-bottom: 24px;
    padding-bottom: 24px;
  }
}
.footer__ttl {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 24px;
}
@media only screen and (max-width: 768px) {
  .footer__ttl {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.footer__right {
  max-width: 568px;
  width: 65%;
}
@media only screen and (max-width: 768px) {
  .footer__right {
    width: 100%;
  }
}
.footer__list {
  overflow: hidden;
  margin-bottom: 65px;
}
@media only screen and (min-width: 769px) {
  .footer__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 980px) {
  .footer__list {
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .footer__list {
    gap: 0;
  }
}
.footer__item {
  max-width: 127px;
  width: 23%;
}
@media only screen and (min-width: 769px) {
  .footer__item {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .footer__item {
    width: 100%;
  }
  .footer__item:nth-child(-n+3) {
    margin-bottom: 20px;
  }
}
.footer__link {
  font-size: 15px;
  font-weight: bold;
  display: block;
  color: #0071aa;
}
@media only screen and (min-width: 769px) {
  .footer__link {
    padding: 15px 10px;
    background-color: #fff;
    border: solid 1px #0071aa;
  }
  .footer__link:hover {
    opacity: 1;
    background-color: #0071aa;
    color: #fff;
  }
}
@media only screen and (max-width: 768px) {
  .footer__link {
    font-size: 18px;
  }
}
.footer__copy {
  background-color: #191B1F;
  color: #6e6e6e;
  padding: 16px 0 32px;
}
.footer__small {
  font-size: 12px;
  display: table;
  margin: 0 auto;
}
.f-menu {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 768px) {
  .f-menu {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .f-menu__item {
    font-size: 12px;
  }
  .f-menu__item:not(:last-child) {
    margin-bottom: 6px;
  }
}
.f-menu__link {
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .f-menu__link {
    padding: 0 16px;
    box-sizing: border-box;
  }
}

.f-menu2 {
  margin-left: -1px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  row-gap: 16px;
}
.f-menu2__item {
  font-size: 12px;
  padding: 0 15px;
  border-left: solid 1px #6e6e6e;
}
.f-menu2__link {
  color: #ccc;
}
/*=======================================
#slide
----------------------------------------*/
/*-----共通設定-----*/
.wrapper .swiper-pagination {
  bottom: -20px;
}
@media only screen and (max-width: 768px) {
  .wrapper .swiper-pagination {
    bottom: -15px;
  }
}
.wrapper .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 50%;
  opacity: 1;
  margin: 8px;
  background-color: #ccc;
  background-image: url(../img/icon_nuki.png);
  background-position: left center;
  background-size: 12px;
  background-repeat: no-repeat;
}
.wrapper .swiper-pagination-bullet:nth-child(1) {
  background-position: left center;
}
.wrapper .swiper-pagination-bullet:nth-child(2) {
  transform: rotate(90deg);
}
.wrapper .swiper-pagination-bullet:nth-child(3) {
  transform: rotate(-45deg);
}
.wrapper .swiper-pagination-bullet:nth-child(4) {
  transform: rotate(180deg);
}
.wrapper .swiper-pagination-bullet:nth-child(5) {
  transform: rotate(135deg);
}
.wrapper .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #333;
}/*# sourceMappingURL=common.css.map */